<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>Chat Messages:</p>
<div>
    <div class="messages"  th:unless="${#lists.isEmpty(chatMessages)}">
        <div th:each="message : ${chatMessages}" >
            <span th:text="${message.username +' : ' + message.messageTxt}"/>
        </div>
    </div>
</div>
<br/>
<p>Add a new message:</p>
<form action="#" th:action = "@{/chat}" th:object="${chatForm}" method="post">
    <label for="username">Username:</label>
    <input th:field="*{username}" id="username" type="text">
    <label for="messageText">Message Text:</label>
    <input th:field="*{messageText}" id="messageText" type="text">
    <label for="messageType">Message Type: </label>
    <select th:field="*{messageType}" id="messageType">
        <option th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"/>
    </select>
    <input type="submit">
</form>
</body>

</html>

